@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

/* just for the fallback layout */
main {
  max-width: 500px;
  margin: 0 auto;
}

article {
  margin: 1rem 0;
}

/* for browsers that support grid */
@supports (display: grid) {
  main {
    max-width: none;
    margin: 0;
  }

  article {
    margin: 0;
  }
  main {
    font-family: Avenir, Roboto, Helvetica, san-serif;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(250px, 1fr)
    ); /* Keep adding new columns - even if theres is no content for them. content does not always take up full width */
    /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/ /* Don't add more columns than theres is content for. && +content "always" take full width */
    grid-gap: 1rem;
  }

  article > * {
    margin: 0;
    padding: 0;
  }

  article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid #888888;
    border-radius: 1rem;
    padding: 2rem;
    /* height: 30rem; */
  }

  article button {
    background: teal;
    border-radius: 15px;
    border: none;
    color: white;
    padding: 0.5rem;
    margin-top: auto;
    font-size: 1rem;
  }

  article > img {
    order: -1;
    align-self: center;
    margin: 1rem;
  }

  article > p {
    margin: 0.5rem 0;
  }

  article > ul {
    margin: 0 0 1rem 1rem;
  }
}
